name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT}}
          script: |
            mkdir -p /var/www/AIAgent
            cd /var/www/AIAgent
            git fetch origin
            git reset --hard origin/main
            docker stop samsonite-bot || true
            docker rm samsonite-bot || true
            docker build --no-cache -t samsonite-bot .
            docker run -d -v $(pwd)/data:/data --name samsonite-bot --env-file .env samsonite-bot